@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  background: var(--primary-color400);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --black: #000000;
  --white: #ffffff;
  --bx-shadow-white: rgba(255, 255, 255, 0.5);
  --bx-shadow-black: rgba(0, 0, 0, 0.5);
  --bg-color200: #d9d9d9;
  --profile-grey: #a5a5a5;
  --primary-color400: #415ca8;
  --primary-color900: #162c6d;
  --accent-color200: #6589d8;
  --accent-color400: #5f82d0;
  --accent-color500: #2d478d;
  --accent-color600: #284085;
  --accent-color700: #d41d6d;
  --accent-color800: #76256d;
}

.flex {
  display: flex;
}

.todos {
  padding-inline-start: 0;
}

.time {
  display: flex;
  gap: 0.4rem;
}

.xmark {
  cursor: pointer;
}

/* checkbox */

.ui-checkbox {
  --secondary-color: #fff;
  --primary-hover-color: #4096ff;
  --checkbox-diameter: 20px;
  --checkbox-border-radius: 5px;
  --checkbox-border-color: #6488d7;
  --checkbox-border-width: 1px;
  --checkbox-border-style: solid;
  --checkmark-size: 1.4;
}

.ui-checkbox,
.ui-checkbox *,
.ui-checkbox *::before,
.ui-checkbox *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.ui-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--checkbox-diameter);
  height: var(--checkbox-diameter);
  border-radius: var(--checkbox-border-radius);
  background: var(--secondary-color);
  border: var(--checkbox-border-width) var(--checkbox-border-style)
    var(--checkbox-border-color);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
}

.ui-checkbox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5)
    var(--accent-color700);
  box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--accent-color700);
  border-radius: inherit;
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  -o-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
}

.ui-checkbox::before {
  top: 40%;
  left: 50%;
  content: "";
  position: absolute;
  width: 4px;
  height: 7px;
  border-right: 2px solid var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(0);
  -ms-transform: translate(-50%, -50%) rotate(45deg) scale(0);
  transform: translate(-50%, -50%) rotate(45deg) scale(0);
  opacity: 0;
  -webkit-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),
    opacity 0.1s;
  -o-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
  transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
}

.ui-checkbox:hover {
  border-color: var(--accent-color700);
}

.ui-checkbox:checked {
  background: var(--accent-color700);
  border-color: transparent;
}

.ui-checkbox:checked::before {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) rotate(45deg)
    scale(var(--checkmark-size));
  -ms-transform: translate(-50%, -50%) rotate(45deg)
    scale(var(--checkmark-size));
  transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  -o-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
}

.ui-checkbox:active:not(:checked)::after {
  -webkit-transition: none;
  -o-transition: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  transition: none;
  opacity: 1;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  filter: invert(100%);
  cursor: pointer;
}

.add::placeholder {
  color: var(--white);
}

.input-form {
  gap: 1rem;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 4fr 1fr;
  margin-bottom: 2rem;

  .input-box {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 2fr 1fr;

    & > * {
      padding: 0.6rem 1.4rem;
    }

    & input[type="text"] {
      border-radius: 0;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      border: 2px solid var(--accent-color700);
      border-right: none;
      outline: none;
      background-color: var(--accent-color200);
      color: var(--white);
    }

    & input[type="datetime-local"] {
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      border: 2px solid var(--accent-color700);
      border-left: none;
      outline: none;
      text-align: right;
      background-color: var(--accent-color200);
      color: var(--white);
      gap: 1rem;
    }
  }

  .add {
    border-radius: 30px;
    outline: none;
    border: none;
    background: var(--accent-color700);
    color: var(--white);
  }
}

.wrapper {
  display: flex;
}

.wrapper > * {
  flex-basis: 450px;
}

.main {
  height: 100vh;
  padding: 4rem 6rem;
  flex-grow: 1;
}

.search-bar::placeholder {
  color: var(--accent-color200);
}

header {
  margin-bottom: 5rem;

  .text {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & h2 {
    font-size: 50px;
    color: var(--white);
    font-weight: 500;
    padding-bottom: 0.5rem;
  }

  .benutzt,
  svg {
    color: var(--accent-color200);
    cursor: pointer;
  }

  .search-bar {
    outline: none;
    border: none;
    background-color: transparent;
    color: var(--accent-color200);
    padding: 0.4rem 1rem;
    position: relative;
    border-bottom: 3px solid var(--accent-color200);
    transform-origin: right;
    transition: 1s ease;
  }

  .bearbeitet {
    font-weight: 500;
  }

  .icons {
    display: flex;
    gap: 2rem;
  }
}

.no-todos {
  color: var(--white);
  font-size: 20px;
  margin-left: 3rem;
  margin-top: 1rem;
}

.todo-list {
  max-height: 570px;
  overflow-y: auto;
  width: calc(100% + 2rem);
}

.todos {
  padding-right: 2rem;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary-color900);
  border-radius: 15px;
}
::-webkit-scrollbar-track {
  background-color: var(--accent-color600);
  border-radius: 15px;
}

.todo-item {
  padding: 0.8rem 1.4rem;
  border-radius: 14px;
  background-color: var(--primary-color900);
  width: 100%;
  justify-content: space-between;
  margin-block: 1rem;
  box-shadow: 6px 6px 15px var(--bx-shadow-black);

  & input[type="checkbox"]:not(:checked) {
    background-color: transparent;
    border: 1px solid var(--accent-color400);
  }

  .todo-text {
    color: var(--white);
  }

  .time {
    color: var(--accent-color400);
  }

  & button {
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--accent-color400);
    font-size: 14px;
  }

  .flex {
    gap: 1.8rem;
  }
}

.todos li:has(input:checked) .todo-text {
  color: var(--accent-color200);
  text-decoration: line-through;
}

.todo-item > * {
  align-items: center;
  gap: 1rem;
}

.fa-calendar-xmark {
  font-size: 16px;
  cursor: pointer;
  position: relative;
}

.fa-calendar-xmark::after {
  content: "No time selected";
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 11px;
  width: 160px;
  text-align: center;
  background-color: var(--white);
  color: var(--black);
  padding: 0.5rem 0;
  border-radius: 6px;
  letter-spacing: 1px;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.fa-calendar-xmark:hover::after {
  visibility: visible;
  opacity: 1;
  transition: opacity 400ms ease;
}

nav {
  background-color: var(--primary-color900);
  border-radius: 0 20px 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 2rem;

  .name {
    color: var(--white);
    margin-top: 0.5rem;
    font-weight: 400;
    text-align: center;
  }

  .lists {
    flex-grow: 1;
    margin-top: 2rem;
    width: 100%;
    padding: 2rem 0;
    padding-top: 1rem;
    overflow: auto;

    & ul {
      padding-left: 0;
    }
  }

  .footer {
    width: 100%;
    justify-content: space-between;
    color: var(--white);
    font-size: 14px;

    > * {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      cursor: pointer;
      transition: 200ms ease;

      &:hover {
        color: var(--accent-color200);
      }
    }
  }
}

.list-item {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 1rem 2rem;
  color: var(--white);
  background-color: var(--accent-color500);
  display: flex;
  justify-content: space-between;
  margin-block: 1rem;
  cursor: pointer;

  & p {
    color: var(--accent-color200);
    font-size: 14px;
  }

  & h3 {
    font-weight: 400;
    font-size: 20px;
  }

  .line {
    height: 100%;
    height: 4px;
    margin-block: 0.5rem;
    background-color: var(--accent-color400);
    border-radius: 4px;

    .progress {
      height: 100%;
      width: 80%;
      background-color: var(--accent-color700);
      border-radius: inherit;
      box-shadow: 0 0 15px var(--accent-color700);
      transition: width 500ms ease;
    }
  }
}

.no-active {
  text-align: center;
  align-items: center;
  flex-direction: row-reverse;

  .line {
    display: none;
  }
}

.active {
  flex-direction: column;
  text-align: left;
  height: 120px;
}

.add-list {
  justify-content: center;
  background-color: var(--accent-color800);
}

.profile-pic {
  height: 180px;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.profile-placeholder,
.add-picture {
  position: absolute;
}

.profile-placeholder {
  font-size: 80px;
  background-color: var(--bg-color200);
  color: var(--profile-grey);
}

.add-picture {
  font-size: 40px;
  color: var(--bx-shadow-white);
  background-color: var(--bx-shadow-black);
  opacity: 0;
  transition: 200ms ease;
  z-index: 1001;

  /* icon inside was kinda off idk */
  transform: translate(-0.5px, -0.5px);
}

.profile-placeholder,
.add-picture {
  height: 135px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
  transform: translate(-0.5px, -0.5px);
}

.add-picture:hover {
  opacity: 1;
}

.progress-bar {
  aspect-ratio: 1;
}

circle {
  fill: transparent;
  stroke: var(--accent-color700);
  stroke-width: 6px;
  stroke-dasharray: 471;
  stroke-dashoffset: 0;
  transform: rotate(-90deg);
  transform-origin: center;
  stroke-dashoffset: 150;
  transition: stroke-dashoffset 500ms ease;

  -webkit-filter: drop-shadow(0 0 5px var(--accent-color700));
  filter: drop-shadow(0 0 5px var(--accent-color700));
}

.pic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  height: 136px;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
}
